In [1]:
import import_ipynb
import city_table
city_table.post_cities

importing Jupyter notebook from city_table.ipynb

          1단계   2단계    3단계  격자 X  격자 Y
0       서울특별시   NaN    NaN    60   127
1       서울특별시   종로구    NaN    60   127
2       서울특별시   종로구  청운효자동    60   127
3       서울특별시   종로구    사직동    60   127
4       서울특별시   종로구    삼청동    60   127
...       ...   ...    ...   ...   ...
3785  제주특별자치도  서귀포시    서홍동    53    33
3786  제주특별자치도  서귀포시    대륜동    52    32
3787  제주특별자치도  서귀포시    대천동    52    32
3788  제주특별자치도  서귀포시    중문동    51    32
3789  제주특별자치도  서귀포시    예래동    50    32

[3790 rows x 5 columns]

In [2]:
city_table.result

        1단계  2단계  3단계  격자 X  격자 Y
1164  대전광역시  유성구  신성동    67   101

In [12]:
import requests, Keys
from datetime import datetime
now = datetime.now()

url = "http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/"
feature = "getVilageFcst"
serviceKey = Keys.serviceKey
dataType = "JSON"
numOfRows = "2000"
base_date = now.strftime("%Y%M%d")
base_time = "2300"
nx = city_table.result['격자 X'].values[0]
ny = city_table.result['격자 Y'].values[0]

query = f'{url}{feature}?serviceKey={serviceKey}&dataType={dataType}&numOfRows={numOfRows}&base_date={base_date}&base_time={base_time}&nx={nx}&ny={ny}'

response = requests.get(query)
print(response.status_code)

200

In [13]:
import json
result = json.loads(response.text)
print(json.dumps(result, indent=4))

{
    "response": {
        "header": {
            "resultCode": "03",
            "resultMsg": "NO_DATA"
        }
    }
}

In [5]:
contents = result['response']['body']['items']['item']

In [6]:
count = 0
for content in contents:
    if content['fcstDate'] == '20230325' and content['fcstTime'] == '0900':
        print(content['category'])
        count += 1
print(count)

0

In [7]:
for content in contents:
    if content['category'] == 'TMN':
        print(content['fcstDate'],content['fcstTime'],"Lowest temp",content['fcstValue'])
    if content['category'] == 'TMX':
        print(content['fcstDate'],content['fcstTime'],"Highest temp",content['fcstValue'])

20230328 0600 Lowest temp 4.0
20230328 1500 Highest temp 21.0
20230329 0600 Lowest temp 5.0
20230329 1500 Highest temp 23.0
20230330 0600 Lowest temp 6.0
20230330 1500 Highest temp 24.0

In [8]:
for content in contents:
    if content['fcstDate']=='20230328' and content['category']=='TMP':
        print('20230328', content['fcstTime'], content['fcstValue'])

20230328 0000 5
20230328 0100 5
20230328 0200 4
20230328 0300 3
20230328 0400 3
20230328 0500 2
20230328 0600 2
20230328 0700 3
20230328 0800 4
20230328 0900 7
20230328 1000 10
20230328 1100 13
20230328 1200 15
20230328 1300 16
20230328 1400 17
20230328 1500 17
20230328 1600 17
20230328 1700 16
20230328 1800 14
20230328 1900 12
20230328 2000 11
20230328 2100 10
20230328 2200 9
20230328 2300 8

In [11]:
for content in contents:
    if content['fcstDate']=='20230328' and content['category']=='SKY':
        print('20230328', content['fcstTime'], content['fcstValue'])

20230328 0000 1
20230328 0100 1
20230328 0200 1
20230328 0300 1
20230328 0400 1
20230328 0500 3
20230328 0600 4
20230328 0700 4
20230328 0800 4
20230328 0900 4
20230328 1000 4
20230328 1100 4
20230328 1200 3
20230328 1300 3
20230328 1400 1
20230328 1500 1
20230328 1600 1
20230328 1700 1
20230328 1800 1
20230328 1900 1
20230328 2000 1
20230328 2100 1
20230328 2200 1
20230328 2300 1